*{
    margin :0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    /* overflow:hidden; */
}

.container{
    height:100%;
    width: 250px;
    position: absolute;
    background: #161616;
    z-index: 1;
    transition: 0.5s ease;
    transform: translateX(-250px);
}
.container .head{
    color: #fbfdce;
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    background: linear-gradient(30deg,#0a99a7, rgb(113, 20, 194))
}

.menu{
    width: 100%;
    list-style: none;
}

.menu .item a i{
    width: 70px;
    font-size: 25px;
    text-align: center;
    padding-left: 30px;
}

.sidebar{
    top:0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #11101d;
}
.sidebar .nav-links{
    height: 100%;
    padding-top: 30px;
}
.sidebar .nav-links li{
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
    background: #1d1b31;

}
.sidebar .nav-links li .iocn-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar .nav-links li i{
    height: 50px;
    min-width: 78px;
    text-align:center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
}
.sidebar .nav-links li a{
    display: flex;
    align-items:center;
    text-decoration: none;
    
}
.sidebar .nav-links li a .link_name{
    color: #fbfdce;
    letter-spacing: 1px;
    overflow: hidden;
    width: 100%;
    text-align: center;
    font-size: 20px;
    top: 10px;
    left: 5px;
    background: none;
    
}
.sidebar .nav-links li:hover a .link_name{
    color: rgb(152, 60, 233);
    letter-spacing: 5px;
    background: none;

}
.sidebar .nav-links li .sub-menu{
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background:#1d1b31;
}
.sidebar .nav-links li .sub-menu a{
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
    opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    transition: all 0.4s ease;
    opacity: 0;
    pointer-events: none;
}
.sidebar.close .nav-links li:hover .sub-menu{
    top: 0;
    opacity:1;
    pointer-events:auto;
}
.sidebar .nav-links li .sub-menu .link_name{
    display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
    font-size: 18px;
    opacity: 1;
    display:block;
}

input[type="checkbox"] {
    opacity: 0;
}
input[type="checkbox2"] {
    opacity: 0;
}
span{
    position: absolute;
    right: -40px;
    top: 30px;
    font-size: 25px;
    border-radius: 3px;
    color:#fff;
    padding: 3px 8px;
    cursor: pointer;
    background: #000;

}
.header{
    width: 100%;
    height: 90px;
    background: linear-gradient(30deg, rgb(113, 20, 194),#0a99a7)
}
h1{
    color:white;
    margin: 0%;
    margin-left:0px;
    padding-top:15px;
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    float:left;
}
.search{
    float:right;
    margin-top: 30px;
    margin-right:30px;
}

.search-bar{
    background:rgb(255,255,255,0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 5px 10px;
}
.search-bar input{
    background: transparent;
    flex: 1;
    border:0;
    color: white;
}
.search-bar button img{
    width: 10px;
}
.search-bar button{
  border:0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #4659c3;
}

#bars{
    background: rgb(68, 0, 255);
}

#check:checked ~.container{
transform: translateX(0);
}
#check:checked ~ .container #bars{
    display: none;
}

.section{
    min-height: 100vh;
    background-image: url(the-best-16-purple-1080p-blue-gaming-background-popularpicinterest.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
    filter: brightness(100%);
}

.download{
    position: absolute;
    bottom: 10px;
    left: 100%;
    margin-left: -104.5px;
}
.download button{
    border:0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #4659c3;
    cursor: pointer;
}

.button-bar{
    background: rgb(88, 87, 88);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    cursor: pointer;
}

/* new table stuff */
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px; /* Need to adjust */
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: left;
}







 